<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Room num:</strong>
  <%= @room.room_num %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @room.bathroom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @room.smoking %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @room.wifi %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @room.pets %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @room.picture %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
